[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "flecs"]
	path = flecs
	url = https://github.com/SanderMertens/flecs
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
